#############################################################
# OS                                                        #
#############################################################

# mac
.DS_Store

#############################################################
# IDE                                                       #
#############################################################

# phpstorm
.idea/

# vscode
.vscode/

#############################################################
# Composer                                                  #
#############################################################

vendor/

#############################################################
# Cache                                                     #
#############################################################

# phpunit
.phpunit.cache

# php-cs-fixer
.php-cs-fixer.cache
